{erl_opts, [debug_info, {no_auto_import, [{get,1}]}]}.

{deps, [
  {lfe, "2.1.3"},
  {yuri, "0.2.0", {pkg, "lfe_yuri"}}
]}.

{plugins, [
  {rebar3_lfe, "0.4.8"}
]}.

{provider_hooks, [
  {pre, [{compile, {lfe, compile}}]}
]}.

{xref_checks,[
  undefined_function_calls,undefined_functions,locals_not_used,
  deprecated_function_calls,deprecated_functions
]}.

{profiles, [
  {test, [
    {deps, [
      {proper, "1.3.0"},
      {ltest, "0.13.4"}
    ]},
    {plugins, [
      {rebar3_proper, "0.12.0"}
    ]},
    {eunit_opts, [verbose]},
    {erl_opts, [{src_dirs, ["src", "test"]}]}
  ]},
  {script, [
    {deps, [
      {logjam, "1.2.0"},
      {erl_csv, "0.3.1"}
    ]},
    {lfe, [
      {main, "scripts/gen.lfe"}
    ]},
    {erl_opts, [{src_dirs, ["src", "priv/tooling"]}]}
  ]}
]}.

{alias, [
  {coverage, [
    {proper, "-c"},
    {cover, "-v --min_coverage=0"}
  ]},
  %% as test
  {check, [
    compile,
    %%xref,
    %%dialyzer,
    eunit,
    coverage
  ]},
  %% the following are used in development as part of the tooling and
  %% need to be run with 'as script':
  {'gen-help', [
    compile,
    {lfe, run}
  ]},
  {'gen-targets', [
    compile,
    {lfe, run, "-- list-targets"}
  ]},
  {'list-header-files', [
    compile,
    {lfe, run, "-- list-header-files"}
  ]},
  {'list-mime-files', [
    compile,
    {lfe, run, "-- list-mime-files"}
  ]},
  {'gen-all', [
    compile,
    {lfe, run, "-- all"}
  ]},
  {'gen-header-fields', [
    compile,
    {lfe, run, "-- header-fields"}
  ]},
  {'gen-mime-types', [
    compile,
    {lfe, run, "-- mime-types"}
  ]}
]}.
